.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: whitesmoke;
    font-family: sans-serif;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

form input{
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
}

form .generate-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form .download-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d7342e;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form .download-btn a{
    color: inherit;
    text-decoration: none;
} 